/*
|------------------------------------------------------
| CSS INDEX
|------------------------------------------------------

1. GLOBAL STYLESHEET

2. NAVIGATION STYLESHEET

3. BANNER STYLESHEET

4. WELCOME STYLESHEET

5. OUR MACARONS STYLESHEET

6. GIFTS AND PARTIES STYLESHEET

7. CONTACT STYLESHEET

8. FOOTER STYLESHEET

9. MOBILE RESPONSIVE

/*==========================================================
                1. GLOBAL STYLESHEET
===========================================================*/
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #6a6969;
}

h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

a, 
input {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*==========================================================
                2. NAVIGATION STYLESHEET
===========================================================*/
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0;
}

.navbar-default .container {
    background-color: #fffabe;
    border-color: #fffabe;
}

.navbar-default .navbar-header {
    padding: 20px;
}

.navbar-default .navbar-toggle {
    border-color: #fffabe;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fffabe;
}

.navbar-default .navbar-nav {
    text-align: center;
    float: none;
}

.navbar-default .navbar-nav li {
    display: inline-block;
    float: none;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    line-height: 25px;
    font-size: 16px;
    padding: 25px;
    color: #515151;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #fffabe;
    color: #d42551;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #fffabe;
    border-color: #fffabe;
    color: #d42551;
}

/*==========================================================
                3. BANNER STYLESHEET
===========================================================*/
.banner {
    margin-bottom: 60px;
}

.banner .container {
    padding: 0;
}

.banner img {
    width: 100%;
}

/*==========================================================
                4. WELCOME STYLESHEET
===========================================================*/
.welcome-left {
    margin-top: 100px;
}

.weekly-menu {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.weekly-menu-item {
    background-color: #fffabe;
    display: inline-block;
    font-size: 12px;
    margin: 0 5px;
    height: 162px;
    width: 132px;
}

.weekly-menu-item .day {
    font-size: 14px;
}

.weekly-menu-item p {
    padding-top: 10px;
    padding-left: 10px;
}

.daily-macarons {
    height: 43px;
}

.daily-macarons p {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

.coconut {
    background-color: #824603;
    color: #fff;
}

.greentea,
.pistachio,
.blueberry {
    background-color: #fffabe;
}

.vanilla {
    background-color: #df5277;
    color: #fff;
}

.lemon {
    background-color: #a2304e;
    color: #fff;
}

.almond {
    background-color: #c39005;
    color: #fff;
}

.coconut-img,
.greentea-img,
.vanilla-img,
.pistachio-img,
.lemon-img,
.blueberry-img, 
.almond-img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

.chocolate-img,
.cassis-img,
.tropical-img,
.coffee-img,
.raspberry-img,
.rose-img,
.caramel-img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

/*==========================================================
                5. OUR MACARONS STYLESHEET
===========================================================*/
.our-macarons-footer {
    margin: 30px 0;
}

/*==========================================================
                6. GIFTS AND PARTIES STYLESHEET
===========================================================*/
.gifts-parties a {
    text-decoration: none;
    color: #df5277;
}

.gifts-parties a:hover {
    color: #927bb1;
}

/*==========================================================
                7. CONTACT STYLESHEET
===========================================================*/
.contact-list {
    padding: 0;
    list-style-type: none;
}

.contact-list a {
    text-decoration: none;
    color: #df5277;
}

.contact-list a:hover {
    color: #927bb1;
}

.contact-form {
    width: 310px;
}

.contact-form input {
    -webkit-appearance: none; 
    -moz-appearance: none;
    background-color: #f5f5f5;
    border: solid #f5f5f5;
    margin-bottom: 10px;
    padding: 0 15px;
    height: 35px;
    width: 100%;
}

.contact-form input:nth-child(5) {
    background-color: #f5f5f5;
    border: solid #f5f5f5;
    height: 70px;
    width: 100%;
}

.contact-form input:nth-child(6) {
    background-color: #eeeeee;
    border: solid #eeeeee;
    text-transform: uppercase;
    height: 45px;
}

.contact-form input:nth-child(6):hover {
    background-color: #bebebe;
    border: solid #bebebe;
}

.contact-right {
    margin: 80px 80px;
}

/*==========================================================
                8. FOOTER STYLESHEET
===========================================================*/
.footer .container {
    background-color: #df5277;
    text-align: center;
    font-size: 11px;
    margin-top: 60px;
    color: #ffffff;
}

.footer a:hover {
    color: #e7e7e7;
}

.footer-left,
.footer-middle,
.footer-right,
.footer-bottom {
    padding: 10px;
}

.footer img,
.footer span  {
    margin-right: 10px;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

/*==========================================================
                9. Mobile Responsive
===========================================================*/
@media (max-width: 1920px) {
    .container {
        width: 1000px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 800px;
    }
    
    .welcome-left {
        display: none;
    }

    .weekly-menu-item {
        margin: 0 2.5px;
    }

    .our-macarons-right img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 11px;
        padding: 4px;
    }

    .weekly-menu-item {
        margin: 0 .5px;
    }

    .weekly-menu-item .day {
        font-size: 12px;
    }

    .daily-macarons img {
        display: none;
    }
}